{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
	{{super()}}
	<link rel="stylesheet"
		href="{{url_for('static', filename='auth/sign_up.css')}}">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-4">
			<h1>Sign Up</h1>
			{% if message %}
				<p>{{ message }}</p>
			{% endif %}
			<br>
			{{ wtf.quick_form(form) }}
			<br>
			<p><a href="{{ url_for('auth.register') }}">Already have an account? Log in</a></p>
		</div>
	</div>
	<br>
{% endblock %}