body{
	margin: 0;
}

.nav-bar{
	background-color: #212529;
	list-style-type: none;
}

.nav-bar>div{
	display: inline-block;
	border-right: 1px solid #bbb;
	height: 55px;
}

.logout-btn{
	float: right;

}

p{
	height: 30px;
	vertical-align:middle;
	margin: 15px;
	font-size: 18px;
	color: #ffff;
}

a{
	display: block;
	text-align: center;
	margin: 6px;
	padding: 7px;
	vertical-align:middle;
	font-size: 18px;
	color: #ffff;
	border: 1px solid #939393;
	border-radius: 2px;
}

.container{
	display: flex;
	width: 100%;
	justify-content: center;
}

.row{
	display: flex;
	flex-wrap: wrap;
	max-width: 850px;
}

.column{
	display: flex;
	width: 160px;
	height: 210px;
	margin: 20px;
	padding: 5px;
	border: 1px;
	border-radius: .25rem;
	border-style: solid;
	border-color: #787878;
	background-color: #D3D3D3;
}

.task{
	display: flex;
	flex-direction: column;
}

.empty-task{
	text-align: center;
}