body {
	background-color: #d3d3d3;
}

div{
	position: relative;
	left: 40%;
	margin:10px;
}

input{
	width: 200px;
	margin:10px;
}
button{
	width: 175px;
	margin-left: 32px;
}

#username{
	text-align: center;
	color: #3c3c3c;
}

#password{
	text-align: center;
	color: #3c3c3c;
}
