body{
	margin: 0;
}
.info{
	display: flex;
	background-color: #212529;
}

div.info>p{
	display: inline;
	height: 30px;
	vertical-align:middle;
	margin: 10px;
	font-size: 18px;
	color: #ffff;
}

p.name{
	font-weight: bold;
}

.container{
	display: flex;
	width: 100%;
	justify-content: center;
}

.row{
	display: flex;
	flex-wrap: wrap;
	max-width: 850px;

}

.column{
	display: flex;
	width: 160px;
	height: 210px;
	margin: 20px;
	padding: 5px;
	border: 1px;
	border-radius: .25rem;
	border-style: solid;
	border-color: #787878;
	background-color: #D3D3D3;
}

.task{
	display: flex;
	flex-direction: column;
}