body {
	background-color: #d3d3d3;
}

.input-block{
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-form{
	text-align: center;
	width: 250px;
	height: 100%;
	background-color: #b4b4b4;
}

h1 {

}