<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='personal_page.css') }}">
	<title>My Webpage</title>
</head>
<body>
	<header>
		<div class="info">
			<p class="name">{{user}}</p>
			<p>Tasks count: {{length}}</p>
		</div>
	</header>
	<div class="container">
		<div class="row">
			{% for i in tasks %}
				<div class="column">
					<div class="task">
						<h2 class="task-name">{{i.name}}</h2>
						<p class="task-description">{{i.description}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>